@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <p>
            <img src="https://i.imgur.com/wEYrBaf.png" />
        </p>
        <h1>Personal Project Management System</h1>
        <p class="lead">PPMS is a free project management system for streamlining the project team formation process.</p>
        <p><a href="https://github.com/jacksonhales/Dev-Tools-HD-Project/wiki" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            PPMS gives you a powerful, easy way to keep track of your project roster. Learn how to use PPMS using the link below:
        </p>
        <p><a class="btn btn-default" href="https://github.com/jacksonhales/Dev-Tools-HD-Project">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Dev Team</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Student ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jackson</td>
                    <td>Hales</td>
                    <td>101581263</td>
                </tr>
                <tr>
                    <td>Nicholas</td>
                    <td>Hicks</td>
                    <td>101467583</td>
                </tr>
                <tr>
                    <td>Charlie</td>
                    <td>Oliver</td>
                    <td>101547252</td>
                </tr>
                <tr>
                    <td>Alex</td>
                    <td>Smith</td>
                    <td>102565967</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>